.about {
  height: 100vh;
  display: flex;
  align-items: center;
}

.about__container {
  margin: 0 0 0 50%;
  text-align: right;
}

.about__title {
  margin-bottom: 2rem;
  font-size: 3.5rem;
  font-weight: 700;
}

.about__subtitle {
  margin-bottom: 2rem;
  font-size: 2.5rem;
}

.about__paragraph {
  margin-bottom: 1rem;
  font-size: 1.5rem;
}

.about__link {
  position: relative;
  color: #7c7c7c;
}

.about__link::before {
  content: attr(data-text); 
  position: absolute; 
  top: -2px; 
  left: 0; 
  text-decoration: underline;
  color:  #158efd; 
  overflow: hidden;
  width: 0%; 
  transition: 1s; 
} 

.about__link:hover::before { 
  width: 100%; 
} 