@import url('https://fonts.googleapis.com/css2?family=Aleo:wght@400;700&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Aleo', serif;
  font-weight: 400;
  color: #158efd;
}

html {
  scroll-behavior: smooth;
}

body {
  -ms-overflow-style: none;
  scrollbar-width: none;
  background-color: #282828;
}

body::-webkit-scrollbar {
  width: 10px;
}

body::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

body::-webkit-scrollbar-thumb {
  background-color: #717171;
  outline: 1px solid #282828;
}

h1 {
  font-size: 3.5rem;
  font-weight: 700;
}

h2 {
  font-size: 2.5rem;
}

section {
  position: relative;
  min-height: 100vh;
  padding: 20px 50px;
  z-index: 2;
  overflow-x: hidden;
}

.about {
  position: relative;
  height: 100vh;
  display: flex;
  align-items: center;
}

.about__container {
  position: absolute;
  right: 60px;
  text-align: right;
}

.about__title {
  margin-bottom: 2rem;
}

.about__subtitle {
  margin-bottom: 2rem;
}

.about__paragraph {
  margin-bottom: 1rem;
  font-size: 1.5rem;
}

.about__link {
  position: relative;
  color: #7c7c7c;
}

a::before {
  content: attr(data-text); 
  position: absolute; 
  top: -1.7px; 
  left: 0; 
  text-decoration: underline;
  color:  #158efd; 
  overflow: hidden;
  width: 0%; 
  transition: 0.5s; 
} 

a:hover::before { 
  width: 100%; 
}

.projects-gallery {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.projects-gallery__title {
  position: relative;
  text-align: center;
}

.projects-gallery__title::after {
  content: "";
  position: absolute;
  width: 50vw;
  height: 1px;
  bottom: -10px;
  left: 50%;
  transform: translateX(-50%);
  background-color: #158efd;
}

.project-gallery__loader {
  margin: 30px;

}

.loader {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.loader__element {
  width: 20px;
  height: 20px;
  margin: 0 10px;
  background-color: #158efd;
  border-radius: 50%;
  opacity: 0;
}

.loader__element--first {
  animation: animate-first-loader-element 1.25s linear infinite;
}

@keyframes animate-first-loader-element {
  from { opacity: 0}
  to { opacity: 1}
}

.loader__element--secondt {
  animation: animate-second-loader-element 1.25s linear infinite;
}

@keyframes animate-second-loader-element {
  from { opacity: 0}
  25% { opacity: 0}
  to { opacity: 1}
}

.loader__element--third {
  animation: animate-third-loader-element 1.25s linear infinite;
}

@keyframes animate-third-loader-element {
  from { opacity: 0}
  50% { opacity: 0}
  to { opacity: 1}
}

.project-gallery__loader-title {
  text-align: center;
}

.project-gallery__loader-text {
  text-align: center;
}

.project-gallery__loader-text > a {
  position: relative;
  color: #7c7c7c;
}

.project-gallery__loader-text > a::before {
  top: -1px;
} 

footer {
  position: relative;
  z-index: 2;
}

.footer__container {
  width: 100%;
  padding: 20px 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footer__container::before {
  content: "";
  position: absolute;
  width: 50vw;
  height: 1px;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  background-color: #717171;
}

.socal-media__list {
  display: flex;
  flex-direction: row;
  align-items: center;
  list-style: none;
}

.socal-media__item {
  margin: 10px;
  padding: 10px;
  width: 52px;
  height: auto;
  cursor: pointer;
}

.socal-media__item svg {
  fill: #717171;
}

.socal-media__item svg:hover {
  fill: #158efd;
}

.copyright {
  font-size: 1rem;
  color: #717171;
}

@media (max-width: 767px) {
  html {
    font-size: 10px;
  }

  section {
    padding: 70px 5px;
  }
}

@media (min-width: 1366px) {
  html {
    font-size: 18px;
  }
}