@import url('https://fonts.googleapis.com/css2?family=Aleo:wght@400;700&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Aleo', serif;
  font-weight: 400;
  color: #158efd;
}

html {
  scroll-behavior: smooth;
}

body {
  -ms-overflow-style: none;
  scrollbar-width: none;
  background-color: #282828;
}

body::-webkit-scrollbar {
  width: 10px;
}
 
body::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}
 
body::-webkit-scrollbar-thumb {
  background-color: #717171;
  outline: 1px solid #282828;
}

.background {
  position: fixed;
  z-index: 1;
}

section {
  position: relative;
  padding: 70px 50px;
  z-index: 2;
}


footer {
  position: relative;
  z-index: 2;
}

.footer__container {
  width: 100%;
  padding: 20px 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.socal-media__list {
  display: flex;
  flex-direction: row;
  align-items: center;
  list-style: none;
}

.socal-media__item {
  margin: 10px;
  padding: 10px;
  width: 52px;
  height: auto;
  cursor: pointer;
}

.socal-media__item svg {
  fill: #717171;
}

.socal-media__item svg:hover {
  fill: #158efd;
}

.copyright {
  font-size: 1rem;
  color: #717171;
}