.portfolio-card {
  width: 300px;
  height: 500px;
  border: 1px solid #717171;
}

.portfolio-card__image-wrapper {
  width: 100%;
  height: 40%;
}

.portfolio-card__image {

}

.portfolio-card__info-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 60%;
}

.portfolio-card__info-text {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  padding: 0 10px;
}

.portfolio-card__info-title {
  margin-bottom: 10px;
  text-align: center;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.portfolio-card__info-description {
  flex: 1;
  margin-bottom: 10px;
  text-indent: 10px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.portfolio-card__info-tech-list {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.portfolio-card__info-links {
  margin: 30px 0;
}

.portfolio-card__link {
  padding: 5px;
  margin: 0 10px;
  text-decoration: none;
  border: 1px solid ;
}

.portfolio-card__link--blue {
  color: #158efd;
}

.portfolio-card__link--blue:hover {
  animation: animate-link 0.25s linear reverse forwards;
}

.portfolio-card__link--gray {
  color: #717171;
}

.portfolio-card__link--gray:hover {
  animation: animate-link 0.25s linear forwards;
}

@keyframes animate-link {
  0% { color: #717171; }
  50% { border-image: linear-gradient(45deg, #158efd,  #717171) 10; }
  100% { color: #158efd; }
}