.portfolio-card {
  position: relative;
  width: 280px;
  height: 180px;
  margin: 5px;
  user-select: none;
}

.portfolio-card__image-wrapper {
  width: 100%;
  height: 100%;
  object-fit: fill;
  overflow: hidden;
}

.portfolio-card__image {
  width: 100%;
  height: 100%;
}

.portfolio-card__info-wrapper {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.8);
  opacity: 0;
  display: flex;
  flex-direction: column;
}

.portfolio-card__info-wrapper:hover {
  opacity: 1;
  transition: opacity 0.5s linear;
}

.portfolio-card__info-text {
  display: flex;
  flex-direction: column;
  flex: 1;
  overflow: hidden;
}

.portfolio-card__info-title {
  text-align: center;
  margin: 10px 0;
}

.portfolio-card__info-description {
  flex: 1;
  text-indent: 10px;
}

.portfolio-card__info-links {
  text-align: center;
  margin-bottom: 20px;
}

.portfolio-card__link {
  padding: 5px;
  border: 1px solid;
  text-decoration: none;
}

.portfolio-card__link--blue {
  color: #158efd;
}

.portfolio-card__link--blue:hover {
  animation: animate-link 0.25s linear reverse forwards;
}

.portfolio-card__link--gray {
  color: #717171;
}

.portfolio-card__link--gray:hover {
  animation: animate-link 0.25s linear forwards;
}

@keyframes animate-link {
  0% { color: #717171; }
  50% { border-image: linear-gradient(45deg, #158efd,  #717171) 10; }
  100% { color: #158efd; }
}