.skills {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.skills__first-container {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: center;
  padding: 5px;
}
.skills__card {
  width: 300px;
  margin: 10px;
  background-color:  #71717199;
}

.skills__card-title {
  margin: 10px 0;
  text-align: center;
}

.skills__list {
  padding: 20px;
  list-style: none;
}

.skills__item {

}

.skills__second-container {
  max-width: 300px;
  max-height: 40px;
  text-align: center;
  overflow: hidden;
  background-color:  #71717199;
  transition: all 1s ease-in;
}

.skills__second-container::before {
  content: "More";
  width: 100%;
  line-height: 40px;
  cursor: pointer;
}

.skills__second-container:hover {
  max-width: 100%;
  max-height: 100%;
  transition: all 1s ease-out;
}

.skills__extended-list {
  padding: 20px;
  display: flex;
  flex-flow: row wrap;
  list-style: none;
}

.skills__extended-list > li {
 margin: 10px
}
