.header {
  position: fixed;
  width: 100vw;
  height: 70px;
  display: flex;
  align-items: center;
  padding: 10px 50px;
}

.logo {
  position: absolute;
}

.logo__img {
  width: auto;
  height: 50px;
}

.nav {
  margin: auto;
}

.nav__list {
  list-style: none;
}

.nav__item {
  display: inline-block;
  padding: 0 5px;
}

.nav__link {
  text-decoration: none;
  color: #158efd;
  font-size: 24px;
}

.nav__link:hover {
  text-decoration: none;
  color: #717171;
}

.nav__link:after {
  content: "";
  display: block;
  width: 100%;
  height: 2px;
  background-color: #717171;
  left: 0;
  bottom: -2px;
  transform-origin: left; 
  transform: scale(0);
  transition: 0.25s linear;
}

.nav__link:hover:after {
  transform: scale(1);
}